.recipe-list-item {
  max-height: 40rem;
  max-width: 40rem;

  text-align: left;
}

.recipe-list-item-head-image {
  width: 100%;
  margin-bottom: 0.5rem;
}

.recipe-list-item-title-header {
  color: var(--title-color);
  font-size: 18px;
  margin: 5px;
  padding: 0px;
}

.recipe-list-item-description {
  color: var(--description-color);
  font-size: 14px;
}

.recipe-list-item-undertext {
  color: var(--undertext-color);
  font-size: 12px;
  text-align: center;
}

.recipe-list-item-title,
.recipe-list-item-title:link,
.recipe-list-item-title:visited {
  text-decoration: none;
}

.recipe-list-item-title:hover .recipe-list-item-title-header {
  text-decoration: underline;
}

.recipe-list-item-title:hover img {
  filter: brightness(1.1);
}

.recipe-list-item-title:active {
  text-decoration: underline;
}

