.article-list-main {
    display: flex;
}

.article-list-title {
    color: var(--title-color);
}

/* Shared base styles */
.article-list-ul {
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style-type: none;

    /* TODO: for testing */
    /* border: 1px solid green; */
}

/* Vertical layout */
.article-list-ul-vertical {
    display: inline-block;
}

/* Horizontal layout */
.article-list-ul-horizontal {
    display: flex;
}

.article-list-ul > li {
    margin: 0;
}

/* Should work only when in vertical mode, 
adding separating border between any two listed items */
.article-list-ul-vertical > li + li {
    border-top: 1px gray solid;
}