.article-list-main {
    display: flex;
    /* justify-content: center; */

    /* max-width: 60rem; */
}

.article-list-title {
    color: var(--title-color);
    /* margin: 5px;
    padding: 0px; */
}

.article-list-ul {
    /* justify-content: center; */
    /* width: 100%; */
    /* height: 100%; */

    gap: 2rem;

    padding: 0;
    margin: 0;

    list-style-type: none;

    /* TODO: for testing */
    /* border: 1px solid green; */
}

.article-list-ul > li {
    margin: 0;
}

.article-list-ul > li + li {
    /* TODO: fix this for horizontal situation, should only be vertical */
    border-top: 1px gray solid;
}