.article-list-main {
    display: flex;
    /* justify-content: center; */

    /* max-width: 60rem; */
}

.article-list-title {
    color: var(--title-color);
    /* margin: 5px;
    padding: 0px; */
}

.article-list-ul-vertical {
    display: inline-block;

    gap: 2rem;
    padding: 0;
    margin: 0;

    list-style-type: none;

    /* TODO: for testing */
    /* border: 1px solid green; */
}

.article-list-ul-horizontal {
    display: flex;

    gap: 2rem;
    padding: 0;
    margin: 0;

    list-style-type: none;

    /* TODO: for testing */
    /* border: 1px solid green; */
}

.article-list-ul-vertical > li {
    margin: 0;
}

.article-list-ul-horizontal > li {
    margin: 0;
}

/* Should work only when in vertical mode, 
adding separating border between any two listed items */
.article-list-ul-vertical > li + li {
    border-top: 1px gray solid;
}