.dice {
  position: relative;
  color: var(--title-color);
}

.dice-main,
.dice-ghost {
  top: 0;
  left: 0;
}

.dice-main {
  position: relative;
  z-index: 1;
}

/* The ghost die is exactly behind the main die */
.dice-ghost {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  pointer-events: none;
}

.dice-ghost.grow {
  animation: growThenDisappear 0.5s ease forwards;
}

.dice-ghost.animate {
  animation: growThenDisappear 0.5s ease forwards;
}

/* An animation that makes the ghost die grow slightly behind the regular die */
@keyframes growThenDisappear {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
