.twitter-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.twitter-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.twitter-list-loading,
.twitter-list-error,
.twitter-list-empty {
  text-align: center;
  padding: 2rem;
  color: var(--description-color);
  font-size: 16px;
}

.twitter-list-error {
  color: #d32f2f;
}

.twitter-list-error p {
  margin: 0.5rem 0;
}


