.home-container {
  max-width: 1200px;
  /* margin: 0 auto; */
  /* padding: 100px 20px 20px; */
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

.home-section:last-child {
  margin-bottom: 0;
}

.home-section-title {
  display: block;
  justify-content: left;
  align-content: left;

  margin: 0;
  padding: 0;
  border: 0;
}

.home-section-content {
  display: flex;
  gap: 1rem;
  
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

/* .home-container > .home-section + .home-section {
  padding-top: 5rem;
  margin-top: 2rem;
  
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: var(--border-big-separator-color);
} */

/* .article-grid { */
  /* display: flex; */
  /* justify-content:right; */
  /* flex-wrap: wrap; */
  /* gap: 0; */
/* } */

/* .main-content { */
  /* display: grid; */
  /* grid-template-columns: 3fr 1fr; */
  /* gap: 2rem; */
/* } */

/* @media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
} */
