.tictac-game-screen {
    align-items: center;
    justify-content: center;
    padding: 3rem;

    border: 5px aquamarine dashed;
}

.tictac-game-title {
  color: var(--title-color);
}

.information-display-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-display-div button {
    height: 4em;
    width: 4em;
    border: 1px var(--title-color) solid;
}