
.tictac-game-screen {
    border: 5px;
    padding: 3rem;
    border-style: dashed;
    border-color: aquamarine;
    
    align-items: center;
    justify-content: center;
}

.tictac-game-title {
  color: var(--title-color);
}

.current-move {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-player {
    height: 6rem;
    aspect-ratio: 1/1;

    color: var(--title-color);
    /* display: inline-block; */
}

.current-player-symbol {
    font-size: 100px;
    line-height: 1;
}

.current-move-dice {
    height: 6rem;
    aspect-ratio: 1/1;
}

.information-display-div {
    /* margin: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;    
}

.information-display-div button {
    height: 70px;
    width: 70px;
    border: 1px var(--title-color) solid;
}