.featured-article {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 2rem;
}

.featured-article:hover .featured-article-title {
    text-decoration: underline;
}

.featured-article-header {
    text-align: left;
}

.featured-article-title {
    color: var(--title-color);
    font-size: 28px;    
}

.featured-article-description {
  color: var(--description-color);
  font-size: 16px;
}

.featured-article-undertext {
    color: var(--undertext-color);
    text-align: center;
    font-size: 13px;    
}

.featured-article:hover img {
  filter: brightness(1.1);
}

.featured-article-image {
    /* width: 40rem; */
    width: 200%;
}

@media (max-width: 600px) {
    .featured-article {
        display: block;
        gap: 5rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid #eee;
        padding-bottom: 2rem;
    }

    .featured-article-image {
        /* width: 40rem; */
        width: 100%;
    }
}