.featured-article {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 2rem;
    gap: 5rem;    
}

.featured-article:hover .featured-article-title {
    text-decoration: underline;
}

.featured-article-header {
    text-align: left;
}

.featured-article-title {
    color: var(--title-color);
    font-size: 28px;
}

.featured-article-description {
  color: var(--description-color);
  font-size: 16px;
}

.featured-article-undertext {
    display: inline-flex;
    gap: 0.5rem;

    color: var(--undertext-color);
    text-align: center;
    font-size: 13px;    
}

.featured-article:hover img {
  filter: brightness(1.1);
}

.featured-article-image {
    width: 200%;
}

/* Chose to use em for media queries, reasoning: https://zellwk.com/blog/media-query-units/ */
@media (max-width: 37.5em) {
    .featured-article {
        display: block; 
    }

    .featured-article-image {
        width: 100%;
    }
}