.game-item {
    display: flex;
    align-items: center;
    width: 20rem;
    min-height: 8rem;
    
    /* TODO: for testing */
    /* border: 1px solid blue; */
}

.game-item:hover .game-item-title {
    text-decoration: underline;
}

.game-item-image {
    width: 100px;
    margin: 10px;
    margin-left: auto;    
}

.game-item-text {
    text-align: left;
}

.game-item-title {
    color: var(--title-color);
    font-size: large;
}

.game-item-description {
    color: var(--description-color);
    font-size: medium;
}