.tictac-start-button {
    border: 1px white solid;
}

/* --title-color: black;
  --description-color: gray;
  --undertext-color: black;
  --border-separator-color: gray;
  --border-big-separator-color: black; */