.site-footer {
  width: 100%;
  margin-top: 3rem;

  border-top: 3px solid #cc0000;
  border-width: 1px;
}

.footer-undertext {
  color: var(--title-color);
}

.footer-content {
  max-width: 75em;
  margin: 0 auto;
  text-align: center;
}

.legal-links {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.legal-links a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.legal-links a:hover {
  color: #cc0000;
}

@media (max-width: 37.5em) {
  .legal-links {
    flex-direction: column;
    gap: 0.5rem;
  }
}