.news-article {
  max-width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 1rem 0 0 0;
  padding: 2rem;
}

.news-article:before {
  content: '';
  height: 100%;
  width: 4px;
}

.news-article-title-header {
  color: var(--title-color);
  margin: 5px;
  padding: 0px;
}

.article-page-head-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.article-image {
  width: 100%;
  max-width: 800px;
}

.article-header h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.article-meta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;

  color: var(--undertext-color);
  text-align: center;
}

.article-content {
  line-height: 1.6;
  font-size: 1.3rem;
  text-align: left;

  color: var(--title-color);
}

.article-content h3 {
  margin-top: 1.5rem;
  color: #cc0000;
}


/* .article-list-item-title-header {
  color: var(--title-color);
  font-size: 18px;
  margin: 5px;
  padding: 0px;
}

.article-list-item-description {
  color: var(--description-color);
  font-size: 14px;
}

.article-list-item-undertext {
    color: var(--undertext-color);
    font-size: 12px;
    text-align: center;
} */


@media (max-width: 600px) {
  .news-article {
    max-width: 90%;
    padding: 1rem;
  }

  .article-content {
    font-size: 1rem;
  }
}