.article-list-item {
    max-height: 40rem;
    max-width: 40rem;

    /* TODO: like in BBC website, horizontal ArticleListItems should have bottom border indicating finish */
    /* border-bottom: 1px;
    border-color: gray;
    border-bottom-style: solid; */

    text-align: left;  

    /* TODO: for testing */
    /* border: 1px solid red; */
}

.article-list-item-head-image {
    width: 100%;
}

/* From the BBC website, in an Article List Item, the font sizes are:
Title - 18px
Description - 14px
Undertext - 12px */

.article-list-item-title-header {
  color: var(--title-color);
  font-size: 18px;
  margin: 5px;
  padding: 0px;
}

.article-list-item-description {
  color: var(--description-color);
  font-size: 14px;
}

.article-list-item-undertext {
    color: var(--undertext-color);
    font-size: 12px;
    text-align: center;
}

.article-list-item-title {
    text-decoration: none;
}

.article-list-item-title:link {
  text-decoration: none;
}

.article-list-item-title:visited {
  text-decoration: none;
}

/* Only the title of the article should be underlined when the list item is hovered over */
.article-list-item-title:hover .article-list-item-title-header {
  text-decoration: underline;
}

/* TODO: the image shadow is a bit overbearing */
/* .article-list-item-title:hover img {
  filter: drop-shadow(0 0 1em #646cffaa);
} */

.article-list-item-title:hover img {
  filter: brightness(1.1);
}

.article-list-item-title:active {
  text-decoration: underline;
}
