.site-header {
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  /* background: #ffffff; */
  border-bottom: 3px solid #cc0000;
  border-width: 1px;
  /* padding: 1rem; */
  /* z-index: 1000; */
}

.nav-button {
  background: none;
  border: none;
  padding: 0.8rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background: #666666;
}

.logo {
  font-family: 'Times New Roman', serif;
  /* height: auto; */
  font-size: 80px;
  /* color: #cc0000; */
  cursor: pointer;
  /* margin: 0 2rem; */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
